@{
	ViewData["Title"] = "Environments";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.slug1</h1>
	<h1 class="display-4">@ViewBag.slug2</h1>
	<h1 class="display-4">@ViewBag.geo</h1>
</div>